sudo: required
language: generic

services:
  - docker

before_install:
  - docker build -t naveen9026/docker-react -f Dockerfile.dev .

scripts:
  - docker run -e CI=true naveen9026/docker-react npm run test -- --coverage

deploy:
  provider: elasticbeanstalk
  region: eu-west-1
  app: "docker-react"
  env: "Dockerreact-env"
  bucket_name: "elasticbeanstalk-eu-west-1-398889031634"
  bucket_path: "docker-react"
  on:
    branch: main
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY